body{
background:#0a0018;
color:white;
font-family:sans-serif;
text-align:center;
}

.login{
margin-top:120px;
}

input{
padding:10px;
border-radius:10px;
border:none;
}

button{
background:#7b00ff;
color:white;
padding:10px 20px;
border-radius:10px;
border:none;
margin-top:10px;
}

.perfil{

display:none;
position:fixed;
top:10px;
left:10px;
right:10px;

background:#150030;

padding:10px;

border-radius:15px;

box-shadow:0 0 10px #7b00ff;

display:flex;
justify-content:space-between;
}